<div class="privacy-policy-container">
    <h1>Politique de Confidentialité</h1>
  
    <section>
      <h2>Introduction</h2>
      <p>
        Cette politique de confidentialité explique comment nous collectons, utilisons et protégeons vos informations personnelles lorsque vous utilisez notre application.
      </p>
    </section>
  
    <section>
      <h2>Collecte des informations</h2>
      <p>
        Nous pouvons collecter les informations suivantes :
      </p>
      <ul>
        <li>Votre nom et prénom.</li>
        <li>Votre adresse e-mail.</li>
        <li>Vos préférences et intérêts.</li>
      </ul>
    </section>
  
    <section>
      <h2>Utilisation des informations</h2>
      <p>
        Les informations que nous collectons sont utilisées pour :
      </p>
      <ul>
        <li>Personnaliser votre expérience utilisateur.</li>
        <li>Améliorer notre application.</li>
        <li>Vous envoyer des informations pertinentes.</li>
      </ul>
    </section>
  
    <section>
      <h2>Protection des informations</h2>
      <p>
        Nous mettons en œuvre des mesures de sécurité pour protéger vos informations personnelles contre tout accès non autorisé ou toute divulgation.
      </p>
    </section>
  
    <section>
      <h2>Cookies</h2>
      <p>
        Notre application utilise des cookies pour améliorer votre expérience. Vous pouvez désactiver les cookies dans les paramètres de votre navigateur.
      </p>
    </section>
  
    <section>
      <h2>Modifications de la politique de confidentialité</h2>
      <p>
        Nous nous réservons le droit de modifier cette politique de confidentialité à tout moment. Toute modification sera publiée sur cette page.
      </p>
    </section>
  </div>