<div class="home-container">
    <h1>Bienvenue sur l'application de gestion de recettes</h1>
  
    <section>
      <h2>Partenariat entre Adepro et le Lycée Vinci</h2>
      <p>
        Cette application est le fruit d'un partenariat entre
        <a href="https://www.adepro-consultant.fr/" target="_blank">Adepro</a> et le
        <a href="https://www.vinci-melun.org/" target="_blank">Lycée Vinci</a>.
        L'objectif est de fournir une solution innovante pour la gestion des recettes culinaires.
      </p>
    </section>
  
    <section>
      <h2>Utilité de l'application</h2>
      <p>
        Cette application permet de :
      </p>
      <ul>
        <li>Créer, modifier et supprimer des recettes.</li>
        <li>Gérer les ingrédients nécessaires pour chaque recette.</li>
        <li>Visualiser les recettes de manière intuitive.</li>
      </ul>
    </section>
  
    <section>
      <h2>Public cible</h2>
      <p>
        Cette application est destinée aux :
      </p>
      <ul>
        <li>Élèves du Lycée Vinci pour apprendre la gestion de projets.</li>
        <li>Professionnels de la restauration pour organiser leurs recettes.</li>
        <li>Amateurs de cuisine pour partager leurs créations.</li>
      </ul>
    </section>
  </div>